{% extends "template.html" %}
{% block conteudo %}

<div class="d-flex justify-content-between">
    <div>
        <form method="POST" action="{{ url_for('indexSearch') }}" class="form-inline">
            <div class="fontFormList"  style="vertical-align: middle;">
                <div class="form-check form-check-inline" style="justify-content: left;">
                    <input class="form-check-input" type="radio" name="searchRadio" id="searcht" value="usuario" checked>
                    <label class="form-check-label" for="searcht">Usuário</label>
                </div>
                <div class="form-check form-check-inline" style="justify-content: left;">
                    <input class="form-check-input" type="radio" name="searchRadio" id="searchr" value="responsavel">
                    <label class="form-check-label" for="searchr">Responsável</label>
                </div>
            </div>

            <div class="form-group mb-2">
                <input type="search" id="search" name="search" class="form-control" placeholder="O que precisa encontrar?" style="width:400px">
            </div>
            <div class="form-group mx-sm-2 mb-2">
                <button type="submit" class="btn btn-outline-secondary btn-salvar mb-0">Pesquisar</button>
            </div>
        </form>
    </div>
</div>

<div style="text-align: center; vertical-align: middle;">
<table class="table table-md table-hover">
    <thead class="thead-default">
    <tr style="color:#F2F2F2; background: #343A40">
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Tipo</th>
        <th scope="col">Empresa</th>
        <th scope="col">Responsável</th>
    </tr>
    </thead>
    <tbody>
    {% for lista in cadastros %}
    <tr class="fontFormList">
        <td>{{ lista.nome }}</td>
        <td>{{ lista.email }}</td>
        <td>{{ lista.tipo }}</td>
        <td>{{ lista.empresa }}</td>
        <td>{{ lista.responsavel }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}